{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Listado de Pacientes</h1>
    <a class="btn btn-primary" href="{% url 'paciente_create' %}">Nuevo Paciente</a>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Fecha de nacimiento</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for paciente in pacientes %}
        <tr>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.apellido_paterno }}</td>
          <td>{{ paciente.apellido_materno }}</td>
          <td>{{ paciente.edad }} años</td>
          <td>{{ paciente.sexo }}</td>
          <td>{{ paciente.fecha_nacimiento }}</td>
          <td>{{ paciente.domicilio }}</td>
          <td>
            <a class="btn btn-secondary" href="{% url 'paciente_update' paciente.id %}">Editar</a>
            <form method="POST" action="{% url 'paciente_delete' paciente.id %}">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
