{% extends 'base.html' %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Subir imagen</h1>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Captura - Automatización de datos médicos</p>
        </div>
    </header>

    <!-- About Section-->
    <section class="page-section mb-0" id="about">
        <div class="container">
            <!-- About Section Content-->
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group col-lg-4 me-auto">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="file" name="image" class="form-control" required>
                            <label for="imagen">Imagen</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <input class="btn btn-primary btn-xl" type="submit" value="Subir" required>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
