{% extends 'base.html' %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Subir imagen</h1>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Captura - Automatización de datos médicos</p>
        </div>
    </header>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="file" name="image" class="form-control" required>
            <input type="submit" value="Subir" required>
        </div>
    </form>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Acerca del proyecto</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Hospintel te permite realizar captura de información médica para un expediente de una manera automatizada remplazando la captura aburrida y extenuante de ingresar muchos datos a un sistema de manera manual</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">Unase al cambio y permita que nuestra aplicación le ayude a procesar imagenes y extraer datos mediante el Procesamiento de Lenguaje Natural (NLP) y OCR</p></div>
            </div>
        </div>
    </section>
{% endblock %}
